body {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    background-color: #1D3557;
}

h1 {
    font-size: 2em;
    margin: 100px 0 0 520px;
}
form {  
    display: flex;
    margin: 50px 20px 30px 500px;
    flex-direction: column;
    justify-content: space-around;
}
li:nth-child(even){
    background-color: #A8DADC;
}

li:nth-child(odd){
    background-color: #457B9D;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
button {
    border-radius: 25%;
    width: 180px;
    height: 60px;
    margin-left: 400px ;
}
input {
    margin: 50px 0 30px 0;
    max-width: fit-content;
    margin-right: 300px;
}
li {
  list-style: none ;
  padding-left : 30px ;
}
